.personCard {
    width: 280px;
    height: 350px;

    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;

    .topLevel {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        height: 30px;

        .uploadImg {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }

    .cardInfo {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;

        .pTextName {
            font-weight: bold;
            font-size: 14px;
        }

        .accountImg {
            width: 100px;
            height: 100px;
            margin: 20px 0 20px 0;
        }

        .pText {
            font-size: 14px;
            margin: 5px 0 5px 0;
        }
    }
}

.personCard {
    background: #f4f4f4;
}

.personCardChecked {
    background: #e4e4e4;
}
