.unitGroup {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;

    .groupContainer {
        width: 200px;
        height: fit-content;
        box-sizing: border-box;
        padding: 0 10px 0 10px;

        .newGroupAddition {
            width: 100%;
            min-height: 200px;
            height: fit-content;
            border: 2px solid #d9d8d8;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: flex-start;
            box-sizing: border-box;
            padding: 20px;
            gap: 5px;

            .header {
                align-self: flex-start;
                font-size: 22px;
                color: #737373;
                font-weight: bolder;
                margin: 0 0 10px 0;
            }


        }
    }
}
