.personUnit {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    .oddPosition {
        background: #f1f1f1;
    }
}
