.group {
    width: 95%;
    min-height: 255px;
    border: 2px solid #d9d8d8;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 20px;
    gap: 5px;

    .header {
        align-self: flex-start;
        font-size: 22px;
        color: #737373;
        font-weight: bolder;
        margin: 0 0 10px 0;
    }

    .person {
        width: 100%;
        height: 70px;
        border: 2px solid #d9d8d8;
        box-sizing: border-box;
        padding: 15px;

        .pName {
        }

        .pPost {
            opacity: 0.5;
        }
    }
    .pText {
        align-self: flex-start;
        font-size: 14px;
    }

    .button {
        width: 120px;
        height: 40px;
        align-self: flex-start;
        margin: 20px 0 20px 0;
        box-sizing: border-box;
        padding: 10px 20px 10px 20px;
        border-radius: 20px;
        color: #ffffff;
        background: #0156ff;
        border: none;
        cursor: pointer;
    }
}
